.node {
    width: 25px;
    height: 25px;
    display: table-cell;
   /* border: 0.5px solid rgb(175, 216, 248);*/
    border: 1px solid rgb(175, 192, 248);

  /*   display: table;*/
}

.node-finish {
  background-image:url(../img/stop.svg);
  background-position: center;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;  
}

.node-Real-finish{
  background-image:url(../img/stop.svg);
  background-position: center;
  background-size: contain;
  animation-name: shortestPath;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

  .node-start{
    background-image:url(../img/start.svg);
    background-position: center;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .node-Real-start{
    background-image:url(../img/start.svg);
    background-position: center;
    background-size: contain;
    animation-name: shortestPath;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes specialNodes {
    0% {
      transform: scale(.3);
      /*background-color: darkslategrey;*/
    }
  
    50% {
      transform: scale(1.2);
      /*background-color: darkslategrey;*/
    }
  
    100% {
      transform: scale(1.0);
      /*background-color: darkslategrey;*/
    }
  }
  .node-visited{
      animation-name: visitedAnimation;
      background-position: center;
      background-size: contain;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-delay: 0;
      animation-direction: alternate;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-play-state: running;
  }

  .node-visit-start{
    background-image:url(../img/start.svg);
    background-position: center;
    background-size: contain;
    animation-name: visitedAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .node-visit-finish{
    background-image:url(../img/stop.svg);
    background-position: center;
    background-size: contain;
    animation-name: visitedAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }  

  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
   /*     background-color: rgba(17, 104, 217, 0.75);*/
        background-color: rgba(127, 17, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
  /*    background-color: rgba(0, 217, 159, 0.75);*/
      background-color: rgba(217, 0, 217, 0.75);
    }
  
    100% {
      transform: scale(1);
  /*    background-color: rgba(0, 190, 218, 0.75);*/
      background-color: rgba(221, 99, 61, 0.75);
    }
  }

  .node-wall {
    background-color: rgb(12, 53, 71);
  }

  .node-unvisited{
    background-color: white;
  }

 /* 
  .node-wall{
    animation-name: wallAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes wallAnimation {
    0% {
      transform: scale(.3);
      background-color: rgb(12, 53, 71);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgb(12, 53, 71);
    }
  }
*/
  .node-shortest-path {
    background-repeat: no-repeat;
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 240, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 208, 106);
    }
  }
/*

.grid {
    margin: 100px 0 0;
  }


  .node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
  }
  
  .node-finish {
    background-color: red;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
  
  .node-wall {
    background-color: rgb(12, 53, 71);
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }
  */